@import './variables.scss';
@import 'normalize.css';

@font-face {
  font-family: 'Proxima Nova';
  src: url('/fonts/proxima-nova/proximanova_regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('/fonts/proxima-nova/proximanova_bold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  background-color: #171722;
  color: white;
  font-family: 'Proxima Nova', sans-serif;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  &-top,
  &-sliders {
    width: 100%;
    display: flex;
    align-items: center;
  }
  &__title {
    color: white;
    text-decoration: none;
    margin-right: 16px;

    h2 {
      font-size: 30px;
      letter-spacing: 1px;
    }
  }
}

.search-bar {
  width: 469px;
  display: flex;
  justify-content: space-between;
  &__label {
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid rgb(149, 149, 149);
    font-size: 16px;
    transition: background 0.25s;

    &:focus-within {
      background: #28283b;
    }
  }

  &__input {
    width: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    padding: 10px 10px 10px 3px;
    color: #f1f1f1;
    letter-spacing: 0.5px;

    &::placeholder {
      color: $bordercolor;
    }
  }

  &__search-icon,
  &__clear-icon {
    color: $bordercolor;
    font-size: 1.5rem;
    font-weight: 400;
    margin-left: 20px;
  }

  &__clear-icon {
    margin-right: 10px;
    transition: color, 0.3s;
    &:hover {
      cursor: pointer;
      color: rgba(234, 234, 234, 0.9);
    }
  }
}

// слайдер
//
.range-slider,
.range-slider-single {
  width: 20%;

  &--margin,
  &--margin {
    margin-right: 27px;
  }

  &__title {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;
  }
}

// инпуты

.range__input {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &-single {
    justify-content: end;
    &-container {
      width: 100%;
    }
  }

  &-wrapper {
    max-width: 43%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    border: 1px solid $bordercolor;
    padding: 2px;
    border-radius: 2px;
    font-size: 14px;
    background-color: transparent;
    color: $innercolor;
    outline: none;
    text-align: center;

    -moz-appearance: textfield;
    &-single {
      width: 20%;
    }

    & input {
      width: 100%;
    }

    &-icon {
      font-size: 14px;
      font-weight: 100;
      color: $bordercolor;
    }
  }

  &-container {
    margin-top: 15px;
    display: flex;

    &:last-child {
      justify-content: end;
    }
  }

  &-field {
    border: none;
    outline: none;
    padding: 0 4px;
    font-size: 14px;
    background-color: transparent;
    color: $bordercolor;

    -moz-appearance: textfield;
    &:focus {
      color: white;
    }
  }
}

// шкалы
.slider-bar {
  height: 5px;
  border-radius: 5px;
  background-color: rgba(48, 48, 61);
  position: relative;

  &__progress {
    height: 5px;
    border-radius: 5px;
    position: absolute;
    left: 25%;
    right: 25%;
    background-color: $buttoncolor;
    box-shadow: 0px 0px 10px 1px rgba($buttoncolor, $alpha: 0.2);
  }
}

input[type='range'],
input[type='range']::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-thumb,
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font: inherit;
}

//ползунки
.rangers {
  position: relative;

  .ranger {
    position: absolute;
    top: -5px;
    height: 5px;
    width: 100%;
    background: none;
    pointer-events: none;
    cursor: pointer;
    // overflow: hidden;
  }

  input[type='range']::-webkit-slider-thumb {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: linear-gradient(149.7deg, rgb(133, 214, 45) 14.424%, rgb(107, 171, 43) 89.985%);
    pointer-events: auto;
  }
  input[type='range']::-moz-range-thumb {
    height: 16px;
    width: 16px;
    border-radius: 50%;
    border: none;
    background: linear-gradient(149.7deg, rgb(133, 214, 45) 14.424%, rgb(107, 171, 43) 89.985%);
    pointer-events: auto;
  }
}

.slider-bar-single__progress {
  height: 5px;
  border-radius: 5px;
  position: absolute;
  left: 0%;
  right: 35%;
  background-color: $buttoncolor;
  box-shadow: 0px 0px 10px 1px rgba($buttoncolor, $alpha: 0.2);
}

.slider-bar-single {
  position: relative;
}

.current-values {
  position: absolute;
  bottom: 23px;
  left: 65%;
  transform: translate(-50%) scale(0);
  transform-origin: bottom;
  transition: transform 0.3s ease-in-out;
  background-color: $valueslidercolor;
  min-width: 45px;
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 5px 0;
  font-size: 16px;
  border-radius: 3px;

  .value__icon {
    margin-left: 2px;
  }
}

.current-values.show {
  transform: translate(-50%) scale(1);
}
// пипка снизу

.current-values::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid $valueslidercolor;
  bottom: -0.3em;
  left: 50%;
  transform: translate(-50%);
}

main {
  margin-top: 18.5px;
}

.filter__header {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: 33px;
}

.filter__results {
  margin-right: 30px;
  &-num {
    margin-right: 5px;
  }
}

.filter__badges {
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  .filter__badge {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    margin-right: 10px;

    .close-badge {
      margin-left: 3px;
      font-size: 1.1rem;
      cursor: pointer;
    }
  }
}

.filter__checkboxes {
  width: 243px;
  height: 100vh;
  background-color: $checkboxbgcolor;
  border-radius: 10px;
  border: 1px solid rgba(132, 213, 44, 0.36);

  &-container {
    width: 204px;
    margin: 15px auto;
  }

  .dropdown {
    display: flex;
    align-items: center;
    justify-content: space-between;

    cursor: pointer;

    &__text {
      font-size: 18px;
    }
    &__arrow {
      color: $innercolor;
    }

    &--margin {
      margin-bottom: 15px;
    }
  }

  .list {
    list-style: none;
    margin: 0;
    padding: 0;
    &__item {
      margin-bottom: 10px;
    }

    .check {
      position: relative;
      cursor: pointer;
      &__input {
        margin-right: 8px;
      }
    }
  }

  .classified__list {
    display: none;
  }

  .classified__dropdown.open ~ .classified__list {
    display: block;
  }
}

.filter__badge {
  width: 88px;
  height: 23px;
  padding: 5px 8px;
  background: rgb(41, 112, 25);
  border-radius: 20px;

  display: none;
}
